<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'LOGIN', new_user_session_path %></li>
      <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>